.sidebar {
    width: 32px;
    overflow: hidden;
    z-index: 1;
}

.sidebar:hover {
    width: 200px;
    z-index: 1;
}


nav.sub, #main {
    margin-left: 40px;
}
.content {
    /* margin-left: 30px;*/
    margin: 0px auto;
}

div.container-rustdoc {
    max-width: none;
}
