[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule ".config/zsh/zgen"]
	path = .config/zsh/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule ".config/zsh/antigen"]
	path = .config/zsh/antigen
	url = https://github.com/zsh-users/antigen.git
