! special
URxvt*.foreground:   #ffffff
URxvt*.background:   #000000
URxvt*.cursorColor:  #ffffff

! black
URxvt*.color0:       #000000
URxvt*.color8:       #4d4d4d

! red
URxvt*.color1:       #cc0403
URxvt*.color9:       #3e0605

! green
URxvt*.color2:       #19cb00
URxvt*.color10:      #23fd00

! yellow
URxvt*.color3:       #cecb00
URxvt*.color11:      #fffd00

! blue
URxvt*.color4:       #005ed1
URxvt*.color12:      #0091ff

! magenta
URxvt*.color5:       #cb1ed1
URxvt*.color13:      #fd28ff

! cyan
URxvt*.color6:       #0dcdcd
URxvt*.color14:      #14ffff

! white
URxvt*.color7:       #e5e5e5
URxvt*.color15:      #ffffff

URxvt.font: xft:SourceCodePro:size=10
URxvt.letterSpace: -1

URxvt.scrollBar: false

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

!Fixing copy paste
URxvt.perl-ext-common: default,clipboard

URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob

URxvt*iso14755: False
URxvt*iso14755_52: False

rofi.modi: run
rofi.font: snap 12
rofi.fg: #000000
rofi.bg: #ffffff
rofi.hlfg: #ff0000
rofi.hlbg: #aaaaaa
