// * {
//   all: unset;
// }

button {
  all: unset;
}

window {
  font-size: 14px;
  margin: 0px;

  font-weight: bold;
  font-family: "Hasklug Nerd Font";
  font-size: 12px;

  & > * {
    margin: 0px;
  }
}

menu {
}

menuitem {
  margin: 0px;
  padding: 0px;
}

icon {
  padding: 0px;
  margin: 0px;
}

.current {
  font-weight: bold;
}

.workspaces {
  .workspace-button {
    border-right: 3px solid #fdf6e3;
  }

  label {
    background: none;
    margin: 0px;
    padding-left: 0px;
    &.inactive {
    }
    &.active {
    }
    &.occupied {
      font-size: 1.01rem;
    }
    &.empty {
      font-size: 0.8rem;
    }
  }
}

.segment-top {
  margin-top: 0;
}

.segment-bottom {
  margin-bottom: 0;
}


.large-symbol {
  font-size: 0.8em;
}

.metric {
  padding: 5px 2px;
}
.metric-icon {
  font-family: "FontAwesome5Free";
  font-size: 0.7em;
}

.time {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}

.tray {
  all: unset
}





.music_popup {
  all: unset;
  padding: 0px 20px;
  margin: 0;
}
