@use 'base.scss';

window {
}

button {
  all: unset;
}

window {
  color: #fff;
  background-color: #0b151d
}

.workspaces {
  .workspace-button {
    border-right: 3px solid #0b151d;
  }

  .current {
    color: #fff;
    border-color: purple;
  }

  :hover {
    background-color: #162939
  }

  label {
    background: none;
    &.inactive {
      color: #888974;
    }
    &.active {
      color: #8ec07c;
    }
  }
}

.time {
  color: #fff;
}

.music_popup {
  background-color: #1d2021;
}
