@use 'base.scss';

window {
}

button {
  all: unset;
}

window {
  background-color: #cccccc;
  color: #000;
}

menu {
  background: #fff;
  color: #000;
}

.workspaces {
  .current {
    border-color: purple;
  }

  label {
    background: none;
    &.inactive {
      color: #888974;
    }
    &.active {
      color: #8ec07c;
    }
  }
}

.time {
  color: #000;
}

.music_popup {
  background-color: #1d2021;
}
