* {
    font-size: 11px;
    font-family: monospace;
    margin-left: 0px;
    margin-right: 0px;
    border: none;
}

window#waybar {
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
}

#pulseaudio {
}
#memory {
}
#cpu {
}
#battery {
}
#disk {
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
    padding: 0 0px;
    margin: 0 0;
}

#workspaces button {
    border-radius: 0px;
    padding: 0px 2px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    margin: 0px 0px;
    border-right: 3px solid #fdf6e3;
}

#workspaces button.active {
}

#workspaces button:hover {
}

#tray {
}
