@import "base.css";

window#waybar {
	background: transparent;
	font-weight: bold;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: transparent;
	color: #000000;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
}

#workspaces button {
	color: #000;
    border-color: #fdf6e3;
}

#workspaces button.active {
    border-color: purple;
}

#workspaces button:hover {
	background: #aaaaff;
}
