@import "base.css";

window#waybar {
    background: #292b2e;
    color: #fdf6e3;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
    background: #1a1a1a;
}

#pulseaudio {
    color: #268bd2;
}
#memory {
    color: #2aa198;
}
#cpu {
    color: #6c71c4;
}
#battery {
    color: #859900;
}
#disk {
    color: #b58900;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
}

#workspaces button {
    color: #fdf6e3;
    border-color: #fdf6e3;
}

#workspaces button.active {
    border-color: purple;
    border-right: 3px solid purple;
}

#workspaces button:hover {
    background: #2a2a2a;
}

#tray {
}
