@define-color color_bg #2d2d2d;
@define-color color_bg_dark #1c1c1c;
@define-color color_border #424242;
@define-color color_border_active #6699cc;
@define-color color_text #ffffff;
@define-color color_urgent #8f0a0a;

/* -- base styles -- */

* {
    all: unset;
	font-size: 11px;
	font-family: monospace;
    margin: 0;
    padding: 0;
    border-radius: 0px;
    border: none;
    text-shadow: none;
    outline: none;
    box-shadow: none;
}

window {
	background: #292b2e;
	color: #fdf6e3;
}


box, menubar, button {
    background-color: @color_bg;
    background-image: none;
}

button, label {
    color: @color_text;
}

button:hover {
    background-color: @color_bg_dark;
}

/*
.popup {
    border: 1px solid @color_border;
    padding: 1em;
}
*/


/* -- clipboard -- */

/*
.clipboard {
}

.popup-clipboard .item {
    padding-bottom: 0.3em;
    border-bottom: 1px solid @color_border;
}
*/


/* -- clock -- */

/*
.clock {
}

.popup-clock .calendar-clock {
    color: @color_text;
    font-size: 2.5em;
    padding-bottom: 0.1em;
}

.popup-clock .calendar {
    background-color: @color_bg;
    color: @color_text;
}

.popup-clock .calendar .header {
    padding-top: 1em;
    border-top: 1px solid @color_border;
    font-size: 1.5em;
}

.popup-clock .calendar:selected {
    background-color: @color_border_active;
}
*/


/* -- tray -- */

.tray {
    padding: 10px 0;
}


/* -- workspaces -- */
.workspaces .item {
    border-radius: 0px;
    padding: 0px 0px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    margin: 0px 0px;
	color: #fdf6e3;
    border-right: 3px solid #fdf6e3;
}

.workspaces .item.focused {
    border-right: 3px solid purple;
}

.workspaces .item:hover {
	background-color: @color_bg_dark;
}


